@model Marca
@{
    ViewData["Title"] = "Apagar Marca";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <hi>Confirmação de Delete de @Model.Marca_Name</hi>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                    <div class="form-group text-center">
                    <img class="rounded" style="max-width: 160px" id="Marca_Pic_URLPreview" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Marca_Pic_URL" class="control-label"></label>
                        <input asp-for="Marca_Pic_URL" class="form-control" readonly />
                        <span asp-validation-for="Marca_Pic_URL" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Marca_Name" class="control-label"></label>
                        <input asp-for="Marca_Name" class="form-control" readonly/>
                        <span asp-validation-for="Marca_Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="Marca_ID" />
                            <input type="submit" value="Confirm" class="btn btn-danger float-right" />
                        </form>
                        <a class="btn btnbtn-outline-secondary" asp-action="Index">Show all</a>
                    </div>         
            </div>
        </div>
    </div>
</div>

@section Scripts{
   <script>
      $(document).ready(function(){
            var output = document.getElementById('Marca_Pic_URLPreview');
            output.src = $("#Marca_Pic_URL").val();
      })         
   </script>
}
