<div class="row text-center">
    <div class="col-md-6 offset-3">
        <h1 class="text-info">Page not found, please try again.</h1>
        <hr />
        <a class="btn btn-outline-success" asp-controller="Perfumes" asp-action="IndexUser">Home Page</a>
    </div>
</div>